# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/
frontend/package-lock.json/

# production
frontend/build

# misc
*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# vercel
frontend/.vercel

# typescript
*.tsbuildinfo
frontend/next-env.d.ts

# local env files
.env*.local
# venv
venv
*/*/.env
.commands

# C extensions
*.so

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Node
node_modules/
.idea/
yarn.lock

*/package-lock.json
frontend/package-lock.json
*/.DS_Store
.DS_Store
