h1 {
    margin-bottom: 1em;
    font-size: 48px;
    color: rgb(206, 9, 9);
    font-weight: 800;
}


.form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding: 30px 20px;
    border-radius: 8px;
    background-color: white;
    font-size: 30px;
    font-family: "Madimi One", sans-serif;
    font-style: normal;
}
