/* customIcons.module.css */

.yellowIcon {
    color: rgb(151, 107, 24);
}
.grayIcon {
    color: rgb(98, 98, 98);
    font-size: 20px;
    margin-right: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ahInformation {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.ahBioContainer {
    flex: 2;

}
.ahContactContainer {
    flex: 1;
  
}

.ahName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ahTime {
    font-size: 14px;
    color: #555;
}

.voteContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.yotpoStars {
    display: flex;
    align-items: center;
    color: #ffbf00;
    /* Yellow color for stars */
}

.yellowIcon {
    font-size: 20px;
    margin-right: 5px;
}

.spanReview {
    margin-left: 10px;
   
}

/* Kiểu dáng của nút Follow, Contact */
.button {
    display: flex;
    flex-direction: row;
}
.btn-follow {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    --font-family-sans-serif: "Gotham SSm A", "Gotham SSm B", Arial, sans-serif;
    flex: 2;
}

.btn-contact {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: 1px solid #000 !important;
    border-radius: 0px;
    cursor: pointer;
    --font-family-sans-serif: "Gotham SSm A", "Gotham SSm B", Arial, sans-serif;
    flex: 1;
}

.btn-follow:hover {
    background-color: #fff !important;
    border: 1px solid #000 !important;
    color: #000 !important;
}

.btn-contact:hover {
    background-color: #333 !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}

/* Kiểu dáng chung của các button */
.button-style {
    margin-top: 10px;
}

/* Tab sold Item */
.containerSold {
    display: flex;
    flex-direction: row;
}
/* tab */
.tabs {
    font-family: Gotham SSm A,Gotham SSm B,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #222;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    align-items: flex-end; /* Thay `end` bằng `flex-end` */
    margin-top: 20px;
    padding-bottom: 0;
}
