/* === Section 1: Banner Styles === */
.banner {
  width: 100%;
  max-width: 100vw;
  /* Kích thước tối đa của banner sẽ bằng kích thước của trình duyệt */
  overflow: hidden;
  /* Nếu hình ảnh vượt quá kích thước của banner, nó sẽ bị cắt bớt */
}

.banner img {
  width: 100%;
  height: auto;
  /* Chiều cao tự động tính theo tỷ lệ của chiều rộng */
  display: block;
  /* Đảm bảo hình ảnh hiển thị đúng cách trong phần nội dung của banner */
}


/* === Section 2: Title Styles === */

.main-lot-title {
  font-family: Arial, sans-serif;
}

/* Phần tiêu đề của nghệ sĩ */
.artist-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.black-link {
  color: #000;
  text-decoration: none;
}


.artist-title a:hover {
  text-decoration: underline;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Phần phụ của tiêu đề */
h1 span.font-italic {
  font-style: italic;
}

/* Margin dưới tiêu đề */
.mb-4 {
  margin-bottom: 20px;
  /* Thêm margin dưới tiêu đề */
}

/* Selection 3: Main */
.contend-aside-holder {
  display: flex;
}

.contend {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carousel-image {
  display: flex;
}

.slides-thumbnail,
.main-slide-img {
  flex: 1;
}

.sharing-btn {
  display: flex;
  justify-content: space-around;
}

.sharing-btn i {
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  background-color: lightgray;
}

.sharing-btn i:hover {
  background-color: gray;
  color: white;
}



.aside {
  width: 250px;
  /* Đặt kích thước cố định cho phần bên cạnh */
  display: flex;
  /* Sử dụng flexbox cho phần bên cạnh */
  flex-direction: column;
  /* Xếp các phần tử theo chiều dọc */
  justify-content: space-between;
  /* Canh giữa các phần tử */
}

.bid-room-inner {
  /* Quy tắc CSS cho phần phòng đấu giá */
  display: flex;
  /* Sử dụng flexbox cho phần phòng đấu giá */
  flex-direction: column;
  /* Xếp các phần tử theo chiều dọc */
}

.bid-status {
  /* Quy tắc CSS cho trạng thái đấu giá */
}

.form-group-bid {
  /* Quy tắc CSS cho nhóm biểu mẫu đấu giá */
}

.custom-select-menu {
  /* Quy tắc CSS cho menu chọn tùy chỉnh */
}

.select-dropdow {
  position: relative;
}

.select-dropdow .btn {
  width: 100%;
}

.secure {
  /* Quy tắc CSS cho phần đảm bảo an toàn */
}

.secure-bidding {
  /* Quy tắc CSS cho thông báo đấu giá an toàn */
}

/* Image footer */
.imagefooter {
  /* Định nghĩa các thuộc tính cho phần footer */
}

.footerImage {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  border-radius: 5px;
  /* Các quy tắc khác tùy thuộc vào yêu cầu thiết kế cụ thể */
}

